<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS todo: change Bootstrapversion -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>TODO List</title>
    <style>
        .red {
            color: #ff0000;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TODO List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link"
                   th:href="@{/tasks}"> Все </a>
                <a class="nav-item nav-link"
                   th:href="@{/tasks?done=true}"> Выполненные </a>
                <a class="nav-item nav-link"
                   th:href="@{/tasks?done=false}"> Новые </a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Новая задача.
            </div>
            <div class="card-body">
                <!--                <div th:if="${message != null}" class="alert alert-danger" role="alert" th:text="${message}">
                                    Пользователь с такой почтой уже существует
                                </div> todo: удалить, если не надо-->
                <form th:action="@{/createTask}" method="POST">
<!--                    Проверить. Кажется на топджаве мы null получали тут-->
                    <input type="hidden" name="id" value="0"/>
                    <div class="form-group">
                        <label for="description">Описание задания <span class="red">*</span>
                            <input type="text" class="form-control" name="description" id="description"
                                   th:placeholder="${task.description}" required>
                        </label>
                        <label for="created">Дата создания <span class="red">*</span>
                            <input type="text" class="form-control" name="created" id="created"
                                   th:placeholder="${task.created}" required>
                        </label>
                    </div>
<!--                    <input type="hidden" name="created" th:value="${#dates.createNow()}"/> todo: удалить, если не надо -->
                    <!--### возможно надо убрать, так как в базе делается-->
<!--                    <input type="hidden" name="done" value="false"/>-->
                    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>